NiFi/templates/Data_Ingest_Connections.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.2">
    <description>Read connection data from kafka topic and send it to an elasticsearch node.</description>
    <groupId>ae96bd58-0165-1000-7a20-0033738a86e5</groupId>
    <name>Data Ingest Connections</name>
    <snippet>
        <processGroups>
            <id>6404991f-213b-356f-0000-000000000000</id>
            <parentGroupId>6a008bcc-3c0a-30bb-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>140a1b38-f3f7-31e8-0000-000000000000</id>
                    <parentGroupId>6404991f-213b-356f-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>84d08456-dd6a-3bc2-0000-000000000000</groupId>
                        <id>cdc300c5-e7a2-364b-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>6404991f-213b-356f-0000-000000000000</groupId>
                        <id>362788f3-e78c-3938-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <processGroups>
                    <id>84d08456-dd6a-3bc2-0000-000000000000</id>
                    <parentGroupId>6404991f-213b-356f-0000-000000000000</parentGroupId>
                    <position>
                        <x>1329.692378301088</x>
                        <y>-191.2281103608882</y>
                    </position>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>ea3de1db-9719-322a-0000-000000000000</id>
                            <parentGroupId>84d08456-dd6a-3bc2-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>84d08456-dd6a-3bc2-0000-000000000000</groupId>
<id>21e73359-553c-314a-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <source>
<groupId>84d08456-dd6a-3bc2-0000-000000000000</groupId>
<id>cdc300c5-e7a2-364b-0000-000000000000</id>
<type>INPUT_PORT</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <inputPorts>
                            <id>cdc300c5-e7a2-364b-0000-000000000000</id>
                            <parentGroupId>84d08456-dd6a-3bc2-0000-000000000000</parentGroupId>
                            <position>
<x>390.00000012762126</x>
<y>42.03677837416433</y>
                            </position>
                            <comments></comments>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>JSON Document Input</name>
                            <state>RUNNING</state>
                            <type>INPUT_PORT</type>
                        </inputPorts>
                        <labels>
                            <id>91aadc49-509c-3263-0000-000000000000</id>
                            <parentGroupId>84d08456-dd6a-3bc2-0000-000000000000</parentGroupId>
                            <position>
<x>229.85368177456303</x>
<y>-104.78421370718564</y>
                            </position>
                            <height>584.0565643310547</height>
                            <label>= = = elasticsearch storage processor = = =
Store data given as JSON document  into elasticsearch of e2netwatch
  parameters:
  - elasticsearch.index</label>
                            <style>
<entry>
    <key>font-size</key>
    <value>16px</value>
</entry>
                            </style>
                            <width>608.9879913330078</width>
                        </labels>
                        <processors>
                            <id>21e73359-553c-314a-0000-000000000000</id>
                            <parentGroupId>84d08456-dd6a-3bc2-0000-000000000000</parentGroupId>
                            <position>
<x>334.7011896959509</x>
<y>269.724803283008</y>
                            </position>
                            <bundle>
<artifact>nifi-elasticsearch-nar</artifact>
<group>org.apache.nifi</group>
<version>1.8.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>elasticsearch-http-url</key>
        <value>
            <name>elasticsearch-http-url</name>
        </value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>SSL Context Service</name>
        </value>
    </entry>
    <entry>
        <key>Username</key>
        <value>
            <name>Username</name>
        </value>
    </entry>
    <entry>
        <key>Password</key>
        <value>
            <name>Password</name>
        </value>
    </entry>
    <entry>
        <key>elasticsearch-http-connect-timeout</key>
        <value>
            <name>elasticsearch-http-connect-timeout</name>
        </value>
    </entry>
    <entry>
        <key>elasticsearch-http-response-timeout</key>
        <value>
            <name>elasticsearch-http-response-timeout</name>
        </value>
    </entry>
    <entry>
        <key>proxy-configuration-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
            <name>proxy-configuration-service</name>
        </value>
    </entry>
    <entry>
        <key>elasticsearch-http-proxy-host</key>
        <value>
            <name>elasticsearch-http-proxy-host</name>
        </value>
    </entry>
    <entry>
        <key>elasticsearch-http-proxy-port</key>
        <value>
            <name>elasticsearch-http-proxy-port</name>
        </value>
    </entry>
    <entry>
        <key>proxy-username</key>
        <value>
            <name>proxy-username</name>
        </value>
    </entry>
    <entry>
        <key>proxy-password</key>
        <value>
            <name>proxy-password</name>
        </value>
    </entry>
    <entry>
        <key>put-es-id-attr</key>
        <value>
            <name>put-es-id-attr</name>
        </value>
    </entry>
    <entry>
        <key>put-es-index</key>
        <value>
            <name>put-es-index</name>
        </value>
    </entry>
    <entry>
        <key>put-es-type</key>
        <value>
            <name>put-es-type</name>
        </value>
    </entry>
    <entry>
        <key>Character Set</key>
        <value>
            <name>Character Set</name>
        </value>
    </entry>
    <entry>
        <key>put-es-batch-size</key>
        <value>
            <name>put-es-batch-size</name>
        </value>
    </entry>
    <entry>
        <key>put-es-index-op</key>
        <value>
            <name>put-es-index-op</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>elasticsearch-http-url</key>
        <value>http://elasticsearch:9200</value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
    </entry>
    <entry>
        <key>Username</key>
    </entry>
    <entry>
        <key>Password</key>
    </entry>
    <entry>
        <key>elasticsearch-http-connect-timeout</key>
        <value>5 secs</value>
    </entry>
    <entry>
        <key>elasticsearch-http-response-timeout</key>
        <value>15 secs</value>
    </entry>
    <entry>
        <key>proxy-configuration-service</key>
    </entry>
    <entry>
        <key>elasticsearch-http-proxy-host</key>
    </entry>
    <entry>
        <key>elasticsearch-http-proxy-port</key>
    </entry>
    <entry>
        <key>proxy-username</key>
    </entry>
    <entry>
        <key>proxy-password</key>
    </entry>
    <entry>
        <key>put-es-id-attr</key>
    </entry>
    <entry>
        <key>put-es-index</key>
        <value>${elasticsearch.index}-${now():format('yyy-MM-dd')}</value>
    </entry>
    <entry>
        <key>put-es-type</key>
        <value>doc</value>
    </entry>
    <entry>
        <key>Character Set</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>put-es-batch-size</key>
        <value>100</value>
    </entry>
    <entry>
        <key>put-es-index-op</key>
        <value>index</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>PutElasticsearchHttp</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>retry</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.elasticsearch.PutElasticsearchHttp</type>
                        </processors>
                    </contents>
                    <name>Elasticsearch Injector</name>
                    <variables/>
                </processGroups>
                <processors>
                    <id>362788f3-e78c-3938-0000-000000000000</id>
                    <parentGroupId>6404991f-213b-356f-0000-000000000000</parentGroupId>
                    <position>
                        <x>715.1625544420447</x>
                        <y>-180.92755859531292</y>
                    </position>
                    <bundle>
                        <artifact>nifi-kafka-1-0-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.8.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>bootstrap.servers</key>
<value>
    <name>bootstrap.servers</name>
</value>
                            </entry>
                            <entry>
<key>security.protocol</key>
<value>
    <name>security.protocol</name>
</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.service.name</key>
<value>
    <name>sasl.kerberos.service.name</name>
</value>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
    <name>kerberos-credentials-service</name>
</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.principal</key>
<value>
    <name>sasl.kerberos.principal</name>
</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.keytab</key>
<value>
    <name>sasl.kerberos.keytab</name>
</value>
                            </entry>
                            <entry>
<key>ssl.context.service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>ssl.context.service</name>
</value>
                            </entry>
                            <entry>
<key>topic</key>
<value>
    <name>topic</name>
</value>
                            </entry>
                            <entry>
<key>topic_type</key>
<value>
    <name>topic_type</name>
</value>
                            </entry>
                            <entry>
<key>honor-transactions</key>
<value>
    <name>honor-transactions</name>
</value>
                            </entry>
                            <entry>
<key>group.id</key>
<value>
    <name>group.id</name>
</value>
                            </entry>
                            <entry>
<key>auto.offset.reset</key>
<value>
    <name>auto.offset.reset</name>
</value>
                            </entry>
                            <entry>
<key>key-attribute-encoding</key>
<value>
    <name>key-attribute-encoding</name>
</value>
                            </entry>
                            <entry>
<key>message-demarcator</key>
<value>
    <name>message-demarcator</name>
</value>
                            </entry>
                            <entry>
<key>message-header-encoding</key>
<value>
    <name>message-header-encoding</name>
</value>
                            </entry>
                            <entry>
<key>header-name-regex</key>
<value>
    <name>header-name-regex</name>
</value>
                            </entry>
                            <entry>
<key>max.poll.records</key>
<value>
    <name>max.poll.records</name>
</value>
                            </entry>
                            <entry>
<key>max-uncommit-offset-wait</key>
<value>
    <name>max-uncommit-offset-wait</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>bootstrap.servers</key>
<value>kafka:9092</value>
                            </entry>
                            <entry>
<key>security.protocol</key>
<value>PLAINTEXT</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.service.name</key>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
                            </entry>
                            <entry>
<key>sasl.kerberos.principal</key>
                            </entry>
                            <entry>
<key>sasl.kerberos.keytab</key>
                            </entry>
                            <entry>
<key>ssl.context.service</key>
                            </entry>
                            <entry>
<key>topic</key>
<value>${kafka.topic}</value>
                            </entry>
                            <entry>
<key>topic_type</key>
<value>names</value>
                            </entry>
                            <entry>
<key>honor-transactions</key>
<value>true</value>
                            </entry>
                            <entry>
<key>group.id</key>
<value>0</value>
                            </entry>
                            <entry>
<key>auto.offset.reset</key>
<value>latest</value>
                            </entry>
                            <entry>
<key>key-attribute-encoding</key>
<value>utf-8</value>
                            </entry>
                            <entry>
<key>message-demarcator</key>
                            </entry>
                            <entry>
<key>message-header-encoding</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>header-name-regex</key>
                            </entry>
                            <entry>
<key>max.poll.records</key>
<value>10000</value>
                            </entry>
                            <entry>
<key>max-uncommit-offset-wait</key>
<value>1 secs</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ConsumeKafka [connection_raw]</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.kafka.pubsub.ConsumeKafka_1_0</type>
                </processors>
            </contents>
            <name>Data Ingest [connections]</name>
            <variables>
                <entry>
                    <key>kafka.topic</key>
                    <value>connection_raw</value>
                </entry>
                <entry>
                    <key>elasticsearch.index</key>
                    <value>connections</value>
                </entry>
            </variables>
        </processGroups>
    </snippet>
    <timestamp>02/12/2019 15:32:40 UTC</timestamp>
</template>
