NiFi/templates/Norikra_Event_Fetcher.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.2">
    <description>Fetch events of a certain query from Norikra via http.
Put events into elasticsearch at given index.</description>
    <groupId>ae96bd58-0165-1000-7a20-0033738a86e5</groupId>
    <name>Norikra Event Fetcher</name>
    <snippet>
        <processGroups>
            <id>c8ff147a-35d2-391d-0000-000000000000</id>
            <parentGroupId>6a008bcc-3c0a-30bb-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>2476ba35-e9d8-3fcd-0000-000000000000</id>
                    <parentGroupId>c8ff147a-35d2-391d-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>c8ff147a-35d2-391d-0000-000000000000</groupId>
                        <id>aeef8abf-3f1e-32b8-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>c8ff147a-35d2-391d-0000-000000000000</groupId>
                        <id>72b6c773-71f9-3190-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>24c8e8e5-4917-3cc7-0000-000000000000</id>
                    <parentGroupId>c8ff147a-35d2-391d-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>c8ff147a-35d2-391d-0000-000000000000</groupId>
                        <id>047a4060-de0b-3455-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>Response</selectedRelationships>
                    <source>
                        <groupId>c8ff147a-35d2-391d-0000-000000000000</groupId>
                        <id>4d3e3943-d7b1-39ad-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>31467d56-de73-3a08-0000-000000000000</id>
                    <parentGroupId>c8ff147a-35d2-391d-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>c8ff147a-35d2-391d-0000-000000000000</groupId>
                        <id>72b6c773-71f9-3190-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>split</selectedRelationships>
                    <source>
                        <groupId>c8ff147a-35d2-391d-0000-000000000000</groupId>
                        <id>047a4060-de0b-3455-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>537e2fdf-3483-342f-0000-000000000000</id>
                    <parentGroupId>c8ff147a-35d2-391d-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>c8ff147a-35d2-391d-0000-000000000000</groupId>
                        <id>7e32adb3-de3f-3a10-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>Failure</selectedRelationships>
                    <source>
                        <groupId>c8ff147a-35d2-391d-0000-000000000000</groupId>
                        <id>4d3e3943-d7b1-39ad-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>5e5b72bd-ef42-3e48-0000-000000000000</id>
                    <parentGroupId>c8ff147a-35d2-391d-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>c8ff147a-35d2-391d-0000-000000000000</groupId>
                        <id>7e32adb3-de3f-3a10-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>c8ff147a-35d2-391d-0000-000000000000</groupId>
                        <id>72b6c773-71f9-3190-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>93880c34-5b2e-3b60-0000-000000000000</id>
                    <parentGroupId>c8ff147a-35d2-391d-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>c8ff147a-35d2-391d-0000-000000000000</groupId>
                        <id>17b8bde5-eab5-35fd-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>c8ff147a-35d2-391d-0000-000000000000</groupId>
                        <id>f69d562f-3e80-33a1-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>bb6f6b2e-91e7-33f1-0000-000000000000</id>
                    <parentGroupId>c8ff147a-35d2-391d-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>c8ff147a-35d2-391d-0000-000000000000</groupId>
                        <id>7e32adb3-de3f-3a10-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>c8ff147a-35d2-391d-0000-000000000000</groupId>
                        <id>047a4060-de0b-3455-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>c41aae15-151a-37af-0000-000000000000</id>
                    <parentGroupId>c8ff147a-35d2-391d-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>c8ff147a-35d2-391d-0000-000000000000</groupId>
                        <id>f69d562f-3e80-33a1-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>c8ff147a-35d2-391d-0000-000000000000</groupId>
                        <id>1e7924fe-85e1-3bff-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>d96110fb-01a7-3c09-0000-000000000000</id>
                    <parentGroupId>c8ff147a-35d2-391d-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>c8ff147a-35d2-391d-0000-000000000000</groupId>
                        <id>4d3e3943-d7b1-39ad-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>c8ff147a-35d2-391d-0000-000000000000</groupId>
                        <id>17b8bde5-eab5-35fd-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>e5735c2a-01d5-30cc-0000-000000000000</id>
                    <parentGroupId>c8ff147a-35d2-391d-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>c8ff147a-35d2-391d-0000-000000000000</groupId>
                        <id>44fbcec3-73f6-3867-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>c8ff147a-35d2-391d-0000-000000000000</groupId>
                        <id>72b6c773-71f9-3190-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <labels>
                    <id>e627babe-95fd-38bb-0000-000000000000</id>
                    <parentGroupId>c8ff147a-35d2-391d-0000-000000000000</parentGroupId>
                    <position>
                        <x>1501.6723318757577</x>
                        <y>76.74280579354678</y>
                    </position>
                    <height>1485.9878692626953</height>
                    <label>Norikra event fetcher
- fetching events from Norikra 
- storing into elasticsearch / sending to kafka
- parameters:  query_name,  elasticsearch.index</label>
                    <style>
                        <entry>
                            <key>font-size</key>
                            <value>20px</value>
                        </entry>
                    </style>
                    <width>1632.1583557128906</width>
                </labels>
                <processors>
                    <id>047a4060-de0b-3455-0000-000000000000</id>
                    <parentGroupId>c8ff147a-35d2-391d-0000-000000000000</parentGroupId>
                    <position>
                        <x>2126.45875460525</x>
                        <y>944.7773122848489</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.7.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>JsonPath Expression</key>
<value>
    <name>JsonPath Expression</name>
</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>
    <name>Null Value Representation</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>JsonPath Expression</key>
<value>$.*</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>empty string</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>SplitJson</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>split</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.SplitJson</type>
                </processors>
                <processors>
                    <id>17b8bde5-eab5-35fd-0000-000000000000</id>
                    <parentGroupId>c8ff147a-35d2-391d-0000-000000000000</parentGroupId>
                    <position>
                        <x>2126.45875460525</x>
                        <y>463.2769924800276</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.7.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Attributes List</key>
<value>
    <name>Attributes List</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-json-regex</key>
<value>
    <name>attributes-to-json-regex</name>
</value>
                            </entry>
                            <entry>
<key>Destination</key>
<value>
    <name>Destination</name>
</value>
                            </entry>
                            <entry>
<key>Include Core Attributes</key>
<value>
    <name>Include Core Attributes</name>
</value>
                            </entry>
                            <entry>
<key>Null Value</key>
<value>
    <name>Null Value</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Attributes List</key>
<value>query_name</value>
                            </entry>
                            <entry>
<key>attributes-to-json-regex</key>
                            </entry>
                            <entry>
<key>Destination</key>
<value>flowfile-content</value>
                            </entry>
                            <entry>
<key>Include Core Attributes</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Null Value</key>
<value>false</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>AttributesToJSON</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.AttributesToJSON</type>
                </processors>
                <processors>
                    <id>1e7924fe-85e1-3bff-0000-000000000000</id>
                    <parentGroupId>c8ff147a-35d2-391d-0000-000000000000</parentGroupId>
                    <position>
                        <x>1544.3608542146249</x>
                        <y>213.75274817155594</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.7.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>File Size</key>
<value>
    <name>File Size</name>
</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>
    <name>Batch Size</name>
</value>
                            </entry>
                            <entry>
<key>Data Format</key>
<value>
    <name>Data Format</name>
</value>
                            </entry>
                            <entry>
<key>Unique FlowFiles</key>
<value>
    <name>Unique FlowFiles</name>
</value>
                            </entry>
                            <entry>
<key>generate-ff-custom-text</key>
<value>
    <name>generate-ff-custom-text</name>
</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>
    <name>character-set</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>File Size</key>
<value>0B</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>1</value>
                            </entry>
                            <entry>
<key>Data Format</key>
<value>Text</value>
                            </entry>
                            <entry>
<key>Unique FlowFiles</key>
<value>false</value>
                            </entry>
                            <entry>
<key>generate-ff-custom-text</key>
                            </entry>
                            <entry>
<key>character-set</key>
<value>UTF-8</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>1 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>GenerateEmptyFlowFile</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
                </processors>
                <processors>
                    <id>44fbcec3-73f6-3867-0000-000000000000</id>
                    <parentGroupId>c8ff147a-35d2-391d-0000-000000000000</parentGroupId>
                    <position>
                        <x>2744.1518041178583</x>
                        <y>1184.50125142135</y>
                    </position>
                    <bundle>
                        <artifact>nifi-kafka-1-0-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.7.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>bootstrap.servers</key>
<value>
    <name>bootstrap.servers</name>
</value>
                            </entry>
                            <entry>
<key>security.protocol</key>
<value>
    <name>security.protocol</name>
</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.service.name</key>
<value>
    <name>sasl.kerberos.service.name</name>
</value>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
    <name>kerberos-credentials-service</name>
</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.principal</key>
<value>
    <name>sasl.kerberos.principal</name>
</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.keytab</key>
<value>
    <name>sasl.kerberos.keytab</name>
</value>
                            </entry>
                            <entry>
<key>ssl.context.service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>ssl.context.service</name>
</value>
                            </entry>
                            <entry>
<key>topic</key>
<value>
    <name>topic</name>
</value>
                            </entry>
                            <entry>
<key>acks</key>
<value>
    <name>acks</name>
</value>
                            </entry>
                            <entry>
<key>use-transactions</key>
<value>
    <name>use-transactions</name>
</value>
                            </entry>
                            <entry>
<key>attribute-name-regex</key>
<value>
    <name>attribute-name-regex</name>
</value>
                            </entry>
                            <entry>
<key>message-header-encoding</key>
<value>
    <name>message-header-encoding</name>
</value>
                            </entry>
                            <entry>
<key>kafka-key</key>
<value>
    <name>kafka-key</name>
</value>
                            </entry>
                            <entry>
<key>key-attribute-encoding</key>
<value>
    <name>key-attribute-encoding</name>
</value>
                            </entry>
                            <entry>
<key>message-demarcator</key>
<value>
    <name>message-demarcator</name>
</value>
                            </entry>
                            <entry>
<key>max.request.size</key>
<value>
    <name>max.request.size</name>
</value>
                            </entry>
                            <entry>
<key>ack.wait.time</key>
<value>
    <name>ack.wait.time</name>
</value>
                            </entry>
                            <entry>
<key>max.block.ms</key>
<value>
    <name>max.block.ms</name>
</value>
                            </entry>
                            <entry>
<key>partitioner.class</key>
<value>
    <name>partitioner.class</name>
</value>
                            </entry>
                            <entry>
<key>compression.type</key>
<value>
    <name>compression.type</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>bootstrap.servers</key>
<value>kafka:9092</value>
                            </entry>
                            <entry>
<key>security.protocol</key>
<value>PLAINTEXT</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.service.name</key>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
                            </entry>
                            <entry>
<key>sasl.kerberos.principal</key>
                            </entry>
                            <entry>
<key>sasl.kerberos.keytab</key>
                            </entry>
                            <entry>
<key>ssl.context.service</key>
                            </entry>
                            <entry>
<key>topic</key>
<value>nifi-debug</value>
                            </entry>
                            <entry>
<key>acks</key>
<value>0</value>
                            </entry>
                            <entry>
<key>use-transactions</key>
<value>false</value>
                            </entry>
                            <entry>
<key>attribute-name-regex</key>
                            </entry>
                            <entry>
<key>message-header-encoding</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>kafka-key</key>
                            </entry>
                            <entry>
<key>key-attribute-encoding</key>
<value>utf-8</value>
                            </entry>
                            <entry>
<key>message-demarcator</key>
                            </entry>
                            <entry>
<key>max.request.size</key>
<value>1 MB</value>
                            </entry>
                            <entry>
<key>ack.wait.time</key>
<value>5 secs</value>
                            </entry>
                            <entry>
<key>max.block.ms</key>
<value>5 sec</value>
                            </entry>
                            <entry>
<key>partitioner.class</key>
<value>org.apache.kafka.clients.producer.internals.DefaultPartitioner</value>
                            </entry>
                            <entry>
<key>compression.type</key>
<value>none</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PublishKafka [debug]</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.kafka.pubsub.PublishKafka_1_0</type>
                </processors>
                <processors>
                    <id>4d3e3943-d7b1-39ad-0000-000000000000</id>
                    <parentGroupId>c8ff147a-35d2-391d-0000-000000000000</parentGroupId>
                    <position>
                        <x>2126.45875460525</x>
                        <y>737.3742901484846</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.7.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>HTTP Method</key>
<value>
    <name>HTTP Method</name>
</value>
                            </entry>
                            <entry>
<key>Remote URL</key>
<value>
    <name>Remote URL</name>
</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>SSL Context Service</name>
</value>
                            </entry>
                            <entry>
<key>Connection Timeout</key>
<value>
    <name>Connection Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Read Timeout</key>
<value>
    <name>Read Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Include Date Header</key>
<value>
    <name>Include Date Header</name>
</value>
                            </entry>
                            <entry>
<key>Follow Redirects</key>
<value>
    <name>Follow Redirects</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Send</key>
<value>
    <name>Attributes to Send</name>
</value>
                            </entry>
                            <entry>
<key>Basic Authentication Username</key>
<value>
    <name>Basic Authentication Username</name>
</value>
                            </entry>
                            <entry>
<key>Basic Authentication Password</key>
<value>
    <name>Basic Authentication Password</name>
</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
    <name>proxy-configuration-service</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Host</key>
<value>
    <name>Proxy Host</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Port</key>
<value>
    <name>Proxy Port</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Type</key>
<value>
    <name>Proxy Type</name>
</value>
                            </entry>
                            <entry>
<key>invokehttp-proxy-user</key>
<value>
    <name>invokehttp-proxy-user</name>
</value>
                            </entry>
                            <entry>
<key>invokehttp-proxy-password</key>
<value>
    <name>invokehttp-proxy-password</name>
</value>
                            </entry>
                            <entry>
<key>Put Response Body In Attribute</key>
<value>
    <name>Put Response Body In Attribute</name>
</value>
                            </entry>
                            <entry>
<key>Max Length To Put In Attribute</key>
<value>
    <name>Max Length To Put In Attribute</name>
</value>
                            </entry>
                            <entry>
<key>Digest Authentication</key>
<value>
    <name>Digest Authentication</name>
</value>
                            </entry>
                            <entry>
<key>Always Output Response</key>
<value>
    <name>Always Output Response</name>
</value>
                            </entry>
                            <entry>
<key>Trusted Hostname</key>
<value>
    <name>Trusted Hostname</name>
</value>
                            </entry>
                            <entry>
<key>Add Response Headers to Request</key>
<value>
    <name>Add Response Headers to Request</name>
</value>
                            </entry>
                            <entry>
<key>Content-Type</key>
<value>
    <name>Content-Type</name>
</value>
                            </entry>
                            <entry>
<key>send-message-body</key>
<value>
    <name>send-message-body</name>
</value>
                            </entry>
                            <entry>
<key>Use Chunked Encoding</key>
<value>
    <name>Use Chunked Encoding</name>
</value>
                            </entry>
                            <entry>
<key>Penalize on "No Retry"</key>
<value>
    <name>Penalize on "No Retry"</name>
</value>
                            </entry>
                            <entry>
<key>use-etag</key>
<value>
    <name>use-etag</name>
</value>
                            </entry>
                            <entry>
<key>etag-max-cache-size</key>
<value>
    <name>etag-max-cache-size</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>HTTP Method</key>
<value>POST</value>
                            </entry>
                            <entry>
<key>Remote URL</key>
<value>http://norikra:26578/api/event</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
                            </entry>
                            <entry>
<key>Connection Timeout</key>
<value>5 secs</value>
                            </entry>
                            <entry>
<key>Read Timeout</key>
<value>15 secs</value>
                            </entry>
                            <entry>
<key>Include Date Header</key>
<value>False</value>
                            </entry>
                            <entry>
<key>Follow Redirects</key>
<value>True</value>
                            </entry>
                            <entry>
<key>Attributes to Send</key>
                            </entry>
                            <entry>
<key>Basic Authentication Username</key>
                            </entry>
                            <entry>
<key>Basic Authentication Password</key>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
                            </entry>
                            <entry>
<key>Proxy Host</key>
                            </entry>
                            <entry>
<key>Proxy Port</key>
                            </entry>
                            <entry>
<key>Proxy Type</key>
<value>http</value>
                            </entry>
                            <entry>
<key>invokehttp-proxy-user</key>
                            </entry>
                            <entry>
<key>invokehttp-proxy-password</key>
                            </entry>
                            <entry>
<key>Put Response Body In Attribute</key>
                            </entry>
                            <entry>
<key>Max Length To Put In Attribute</key>
<value>256</value>
                            </entry>
                            <entry>
<key>Digest Authentication</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Always Output Response</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Trusted Hostname</key>
                            </entry>
                            <entry>
<key>Add Response Headers to Request</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Content-Type</key>
<value>application/json</value>
                            </entry>
                            <entry>
<key>send-message-body</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Use Chunked Encoding</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Penalize on "No Retry"</key>
<value>false</value>
                            </entry>
                            <entry>
<key>use-etag</key>
<value>false</value>
                            </entry>
                            <entry>
<key>etag-max-cache-size</key>
<value>10MB</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>InvokeHTTP</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>Failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>No Retry</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>Original</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>Response</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>Retry</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.InvokeHTTP</type>
                </processors>
                <processors>
                    <id>72b6c773-71f9-3190-0000-000000000000</id>
                    <parentGroupId>c8ff147a-35d2-391d-0000-000000000000</parentGroupId>
                    <position>
                        <x>2126.45875460525</x>
                        <y>1184.4694356865643</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.7.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>jolt-transform</key>
<value>
    <name>jolt-transform</name>
</value>
                            </entry>
                            <entry>
<key>jolt-custom-class</key>
<value>
    <name>jolt-custom-class</name>
</value>
                            </entry>
                            <entry>
<key>jolt-custom-modules</key>
<value>
    <name>jolt-custom-modules</name>
</value>
                            </entry>
                            <entry>
<key>jolt-spec</key>
<value>
    <name>jolt-spec</name>
</value>
                            </entry>
                            <entry>
<key>Transform Cache Size</key>
<value>
    <name>Transform Cache Size</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>jolt-transform</key>
<value>jolt-transform-chain</value>
                            </entry>
                            <entry>
<key>jolt-custom-class</key>
                            </entry>
                            <entry>
<key>jolt-custom-modules</key>
                            </entry>
                            <entry>
<key>jolt-spec</key>
<value>[
  {
    "operation": "shift",
    "spec": {
      "0": {
        "*": {
          "$": "event_id"
        }
      },
      "1": {
        "*": "&amp;"
      }
    }
  }
]
</value>
                            </entry>
                            <entry>
<key>Transform Cache Size</key>
<value>1</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>JoltTransform into Elastic record</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.JoltTransformJSON</type>
                </processors>
                <processors>
                    <id>7e32adb3-de3f-3a10-0000-000000000000</id>
                    <parentGroupId>c8ff147a-35d2-391d-0000-000000000000</parentGroupId>
                    <position>
                        <x>2732.8190618893236</x>
                        <y>949.6288758875867</y>
                    </position>
                    <bundle>
                        <artifact>nifi-kafka-1-0-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.7.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>bootstrap.servers</key>
<value>
    <name>bootstrap.servers</name>
</value>
                            </entry>
                            <entry>
<key>security.protocol</key>
<value>
    <name>security.protocol</name>
</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.service.name</key>
<value>
    <name>sasl.kerberos.service.name</name>
</value>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
    <name>kerberos-credentials-service</name>
</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.principal</key>
<value>
    <name>sasl.kerberos.principal</name>
</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.keytab</key>
<value>
    <name>sasl.kerberos.keytab</name>
</value>
                            </entry>
                            <entry>
<key>ssl.context.service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>ssl.context.service</name>
</value>
                            </entry>
                            <entry>
<key>topic</key>
<value>
    <name>topic</name>
</value>
                            </entry>
                            <entry>
<key>acks</key>
<value>
    <name>acks</name>
</value>
                            </entry>
                            <entry>
<key>use-transactions</key>
<value>
    <name>use-transactions</name>
</value>
                            </entry>
                            <entry>
<key>attribute-name-regex</key>
<value>
    <name>attribute-name-regex</name>
</value>
                            </entry>
                            <entry>
<key>message-header-encoding</key>
<value>
    <name>message-header-encoding</name>
</value>
                            </entry>
                            <entry>
<key>kafka-key</key>
<value>
    <name>kafka-key</name>
</value>
                            </entry>
                            <entry>
<key>key-attribute-encoding</key>
<value>
    <name>key-attribute-encoding</name>
</value>
                            </entry>
                            <entry>
<key>message-demarcator</key>
<value>
    <name>message-demarcator</name>
</value>
                            </entry>
                            <entry>
<key>max.request.size</key>
<value>
    <name>max.request.size</name>
</value>
                            </entry>
                            <entry>
<key>ack.wait.time</key>
<value>
    <name>ack.wait.time</name>
</value>
                            </entry>
                            <entry>
<key>max.block.ms</key>
<value>
    <name>max.block.ms</name>
</value>
                            </entry>
                            <entry>
<key>partitioner.class</key>
<value>
    <name>partitioner.class</name>
</value>
                            </entry>
                            <entry>
<key>compression.type</key>
<value>
    <name>compression.type</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>bootstrap.servers</key>
<value>kafka:9092</value>
                            </entry>
                            <entry>
<key>security.protocol</key>
<value>PLAINTEXT</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.service.name</key>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
                            </entry>
                            <entry>
<key>sasl.kerberos.principal</key>
                            </entry>
                            <entry>
<key>sasl.kerberos.keytab</key>
                            </entry>
                            <entry>
<key>ssl.context.service</key>
                            </entry>
                            <entry>
<key>topic</key>
<value>nifi-error</value>
                            </entry>
                            <entry>
<key>acks</key>
<value>0</value>
                            </entry>
                            <entry>
<key>use-transactions</key>
<value>false</value>
                            </entry>
                            <entry>
<key>attribute-name-regex</key>
                            </entry>
                            <entry>
<key>message-header-encoding</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>kafka-key</key>
                            </entry>
                            <entry>
<key>key-attribute-encoding</key>
<value>utf-8</value>
                            </entry>
                            <entry>
<key>message-demarcator</key>
                            </entry>
                            <entry>
<key>max.request.size</key>
<value>1 MB</value>
                            </entry>
                            <entry>
<key>ack.wait.time</key>
<value>5 secs</value>
                            </entry>
                            <entry>
<key>max.block.ms</key>
<value>5 sec</value>
                            </entry>
                            <entry>
<key>partitioner.class</key>
<value>org.apache.kafka.clients.producer.internals.DefaultPartitioner</value>
                            </entry>
                            <entry>
<key>compression.type</key>
<value>none</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PublishKafka [error]</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.kafka.pubsub.PublishKafka_1_0</type>
                </processors>
                <processors>
                    <id>aeef8abf-3f1e-32b8-0000-000000000000</id>
                    <parentGroupId>c8ff147a-35d2-391d-0000-000000000000</parentGroupId>
                    <position>
                        <x>2129.6135397615</x>
                        <y>1393.4133212348556</y>
                    </position>
                    <bundle>
                        <artifact>nifi-elasticsearch-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.7.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>elasticsearch-http-url</key>
<value>
    <name>elasticsearch-http-url</name>
</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>SSL Context Service</name>
</value>
                            </entry>
                            <entry>
<key>Username</key>
<value>
    <name>Username</name>
</value>
                            </entry>
                            <entry>
<key>Password</key>
<value>
    <name>Password</name>
</value>
                            </entry>
                            <entry>
<key>elasticsearch-http-connect-timeout</key>
<value>
    <name>elasticsearch-http-connect-timeout</name>
</value>
                            </entry>
                            <entry>
<key>elasticsearch-http-response-timeout</key>
<value>
    <name>elasticsearch-http-response-timeout</name>
</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
    <name>proxy-configuration-service</name>
</value>
                            </entry>
                            <entry>
<key>elasticsearch-http-proxy-host</key>
<value>
    <name>elasticsearch-http-proxy-host</name>
</value>
                            </entry>
                            <entry>
<key>elasticsearch-http-proxy-port</key>
<value>
    <name>elasticsearch-http-proxy-port</name>
</value>
                            </entry>
                            <entry>
<key>proxy-username</key>
<value>
    <name>proxy-username</name>
</value>
                            </entry>
                            <entry>
<key>proxy-password</key>
<value>
    <name>proxy-password</name>
</value>
                            </entry>
                            <entry>
<key>put-es-id-attr</key>
<value>
    <name>put-es-id-attr</name>
</value>
                            </entry>
                            <entry>
<key>put-es-index</key>
<value>
    <name>put-es-index</name>
</value>
                            </entry>
                            <entry>
<key>put-es-type</key>
<value>
    <name>put-es-type</name>
</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>
    <name>Character Set</name>
</value>
                            </entry>
                            <entry>
<key>put-es-batch-size</key>
<value>
    <name>put-es-batch-size</name>
</value>
                            </entry>
                            <entry>
<key>put-es-index-op</key>
<value>
    <name>put-es-index-op</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>elasticsearch-http-url</key>
<value>http://elasticsearch:9200</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
                            </entry>
                            <entry>
<key>Username</key>
                            </entry>
                            <entry>
<key>Password</key>
                            </entry>
                            <entry>
<key>elasticsearch-http-connect-timeout</key>
<value>5 secs</value>
                            </entry>
                            <entry>
<key>elasticsearch-http-response-timeout</key>
<value>15 secs</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
                            </entry>
                            <entry>
<key>elasticsearch-http-proxy-host</key>
                            </entry>
                            <entry>
<key>elasticsearch-http-proxy-port</key>
                            </entry>
                            <entry>
<key>proxy-username</key>
                            </entry>
                            <entry>
<key>proxy-password</key>
                            </entry>
                            <entry>
<key>put-es-id-attr</key>
                            </entry>
                            <entry>
<key>put-es-index</key>
<value>${elasticsearch.index}</value>
                            </entry>
                            <entry>
<key>put-es-type</key>
<value>doc</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>put-es-batch-size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>put-es-index-op</key>
<value>index</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutElasticsearchHttp [norika-syslog-event]</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>retry</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.elasticsearch.PutElasticsearchHttp</type>
                </processors>
                <processors>
                    <id>f69d562f-3e80-33a1-0000-000000000000</id>
                    <parentGroupId>c8ff147a-35d2-391d-0000-000000000000</parentGroupId>
                    <position>
                        <x>2126.45875460525</x>
                        <y>210.14015165971512</y>
                    </position>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.7.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>query_name</key>
<value>
    <name>query_name</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>query_name</key>
<value>${norikra.queryname}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Convert parameter "norikra.queryname"</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
            </contents>
            <name>Norikra Event Fetcher</name>
            <variables>
                <entry>
                    <key>norikra.queryname</key>
                    <value>&lt;query_name&gt;</value>
                </entry>
                <entry>
                    <key>elasticsearch.index</key>
                    <value>&lt;index&gt;</value>
                </entry>
            </variables>
        </processGroups>
    </snippet>
    <timestamp>10/25/2018 11:27:02 GMT</timestamp>
</template>
