NiFi/Elasticsearch_Injector.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.2">
    <description></description>
    <groupId>ae96bd58-0165-1000-7a20-0033738a86e5</groupId>
    <name>Elasticsearch Injector</name>
    <snippet>
        <processGroups>
            <id>e53f645e-1b6e-3209-0000-000000000000</id>
            <parentGroupId>6a008bcc-3c0a-30bb-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>80738768-b44a-31b4-0000-000000000000</id>
                    <parentGroupId>e53f645e-1b6e-3209-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>e53f645e-1b6e-3209-0000-000000000000</groupId>
                        <id>43d37da7-dbbe-3594-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <source>
                        <groupId>e53f645e-1b6e-3209-0000-000000000000</groupId>
                        <id>4902db57-5628-3094-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <inputPorts>
                    <id>4902db57-5628-3094-0000-000000000000</id>
                    <parentGroupId>e53f645e-1b6e-3209-0000-000000000000</parentGroupId>
                    <position>
                        <x>390.00000012762126</x>
                        <y>42.03677837416433</y>
                    </position>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>JSON Document Input</name>
                    <state>STOPPED</state>
                    <type>INPUT_PORT</type>
                </inputPorts>
                <labels>
                    <id>bf0bee96-f257-34c7-0000-000000000000</id>
                    <parentGroupId>e53f645e-1b6e-3209-0000-000000000000</parentGroupId>
                    <position>
                        <x>229.85368177456303</x>
                        <y>-104.78421370718564</y>
                    </position>
                    <height>584.0565643310547</height>
                    <label>= = = elasticsearch storage processor = = =
Store data given as JSON document  into elasticsearch of e2netwatch
  parameters:
  - elasticsearch.index</label>
                    <style>
                        <entry>
                            <key>font-size</key>
                            <value>16px</value>
                        </entry>
                    </style>
                    <width>608.9879913330078</width>
                </labels>
                <processors>
                    <id>43d37da7-dbbe-3594-0000-000000000000</id>
                    <parentGroupId>e53f645e-1b6e-3209-0000-000000000000</parentGroupId>
                    <position>
                        <x>334.7011896959509</x>
                        <y>269.724803283008</y>
                    </position>
                    <bundle>
                        <artifact>nifi-elasticsearch-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.7.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>elasticsearch-http-url</key>
<value>
    <name>elasticsearch-http-url</name>
</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>SSL Context Service</name>
</value>
                            </entry>
                            <entry>
<key>Username</key>
<value>
    <name>Username</name>
</value>
                            </entry>
                            <entry>
<key>Password</key>
<value>
    <name>Password</name>
</value>
                            </entry>
                            <entry>
<key>elasticsearch-http-connect-timeout</key>
<value>
    <name>elasticsearch-http-connect-timeout</name>
</value>
                            </entry>
                            <entry>
<key>elasticsearch-http-response-timeout</key>
<value>
    <name>elasticsearch-http-response-timeout</name>
</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
    <name>proxy-configuration-service</name>
</value>
                            </entry>
                            <entry>
<key>elasticsearch-http-proxy-host</key>
<value>
    <name>elasticsearch-http-proxy-host</name>
</value>
                            </entry>
                            <entry>
<key>elasticsearch-http-proxy-port</key>
<value>
    <name>elasticsearch-http-proxy-port</name>
</value>
                            </entry>
                            <entry>
<key>proxy-username</key>
<value>
    <name>proxy-username</name>
</value>
                            </entry>
                            <entry>
<key>proxy-password</key>
<value>
    <name>proxy-password</name>
</value>
                            </entry>
                            <entry>
<key>put-es-id-attr</key>
<value>
    <name>put-es-id-attr</name>
</value>
                            </entry>
                            <entry>
<key>put-es-index</key>
<value>
    <name>put-es-index</name>
</value>
                            </entry>
                            <entry>
<key>put-es-type</key>
<value>
    <name>put-es-type</name>
</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>
    <name>Character Set</name>
</value>
                            </entry>
                            <entry>
<key>put-es-batch-size</key>
<value>
    <name>put-es-batch-size</name>
</value>
                            </entry>
                            <entry>
<key>put-es-index-op</key>
<value>
    <name>put-es-index-op</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>elasticsearch-http-url</key>
<value>http://elasticsearch:9200</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
                            </entry>
                            <entry>
<key>Username</key>
                            </entry>
                            <entry>
<key>Password</key>
                            </entry>
                            <entry>
<key>elasticsearch-http-connect-timeout</key>
<value>5 secs</value>
                            </entry>
                            <entry>
<key>elasticsearch-http-response-timeout</key>
<value>15 secs</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
                            </entry>
                            <entry>
<key>elasticsearch-http-proxy-host</key>
                            </entry>
                            <entry>
<key>elasticsearch-http-proxy-port</key>
                            </entry>
                            <entry>
<key>proxy-username</key>
                            </entry>
                            <entry>
<key>proxy-password</key>
                            </entry>
                            <entry>
<key>put-es-id-attr</key>
                            </entry>
                            <entry>
<key>put-es-index</key>
<value>${elasticsearch.index}</value>
                            </entry>
                            <entry>
<key>put-es-type</key>
<value>doc</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>put-es-batch-size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>put-es-index-op</key>
<value>index</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutElasticsearchHttp</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>retry</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.elasticsearch.PutElasticsearchHttp</type>
                </processors>
            </contents>
            <name>Elasticsearch Injector</name>
            <variables>
                <entry>
                    <key>elasticsearch.index</key>
                    <value>&lt;index&gt;</value>
                </entry>
            </variables>
        </processGroups>
    </snippet>
    <timestamp>10/25/2018 08:40:20 GMT</timestamp>
</template>
